
@font-face {
  font-family: "Garamond Pro";
  src: url("fonts/AGaramondPro-Regular.woff") format('woff');
}

@font-face {
  font-family: "Garamond Pro";
  font-style: italic;
  src: url("fonts/AGaramondPro-Italic.woff") format('woff');
}

@font-face {
  font-family: "Garamond Pro Bold";
  src: url("fonts/AGaramondPro-Semibold.woff") format('woff');
}

@font-face {
  font-family: "Crimson Bold";
  src: url("fonts/crimson-bold.woff") format('woff');
}

body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 19px;
  background-color: #F2EECB;
  color: #000;
  font-family: Garamond Pro;
}

article {
  padding: 48px 24px;
  margin: 0 auto;
  max-width: 640px;
}

h2 {
  font: 600 20px/24px Crimson Bold;
  margin: 30px 0 12px 0;
  border-bottom: solid 1px #777;
  padding-top: 3px;
}

.subtitle {
  color: inherit;
  font: 600 20px/24px Garamond Pro;
  margin-top: -35px;
  margin-bottom: 36px;
  background-color: inherit;
  border: none;
  text-align: center;
  padding-bottom: 12px;
}

div.main-div {
  background-color: #211e00;
  color: #fff;
}

hr.main-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

blockquote {
  text-align: center;
  padding-top: 12px;
  margin: 0px 0 36px 0;
  font: italic 28px/36px "Garamond Pro";
}

p {
  margin: 15px 0px;
}

a {
  padding: 0px;
  color: inherit;
  font-style: inherit;
  text-decoration: none;
  background-size: 1px 1em;
  box-shadow: inset 0 -0.15em #F2EECB, inset 0 -0.4em #aa7;
}

a:hover {
  box-shadow: inset 0 -0.15em #F2EECB, inset 0 -0.4em #999;
}

a:visited {
  color: #343;
}

@media only screen and (max-width: 500px) {
  article {
    padding: 12px;
    font-size: 13pt;
    /* font-size: 18px; */
    margin-bottom: 12px;
  }

  blockquote {
    margin-top: 12px;
  }

}
